@model EmployeeVM
@{
    ViewData["Title"] = "TestViewModel";
}

<h1>@Model.Message</h1>
<h3>Employee Name:@Model.EmployeeName</h3>
<h5>Id:@Model.EmployeeId</h5>
<h5 style="color:@Model.color">Id:@Model.color</h5>
<h5>Temp:@Model.Temp</h5>
